/*
Popcorn Project
Created by Jeff Wu, Liam White
Index Style Sheet
University of Portsmouth
2018.01.11
*/



a {
  color:inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}




.alertOverlay{
  display:none;
  position:fixed;
  text-align: center;
  top:0px;
  width:100%;
  height:40px;
  background-color:#58c271;
  padding-top:10px;
  opacity: 0.9;
}

.alertOverlay a{
  color:#fafafa;
  font-size:22px;

}

@media screen and (max-width: 600px){
  .dialog{
    top:20%;
    left:13%;
    height:54%;
    width:76%;
  }

  .dialog input{
    font-size: 16px;
    border-bottom: 2px solid #545454;

  }

  .dialog_term{
    font-size:12px;
  }

  .dialog_button{
    margin-top:2.6%;
  }

  .dialog_button button{
    font-size: 14px;
    width:80%;
  }

  .dialog_iForgot{
    margin-top:2%;
  }

  .dialog_iForgot a{
    font-size:12px;
  }

  


}



.content{
  position:relative;
  margin-top:500px;
}

.content_title{

  margin-top:2%;
  margin-right:50px;
  margin-left:5%;
  margin-bottom:2%;

}

.content_title{
  display:flex;
  flex-direction: row;
  font-family: barlow;
}

.ct {
  font-family: barlow;
  color:#ffffff;
  font-size:24px;
  letter-spacing:3px;
  cursor: default;

}

.title_indicator_img{
  margin-top:6px;
  margin-left: 8px;
}

.title_indicator_img img{
  width: 300px;
}

.content_video_list{
  /*Layout Ref VEVO website*/
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  width:100%;
  margin-left:5%;


}



.vl_container{
  float: left;
  width:auto;
  margin-top: 24px;
  margin-right: 12%;
  cursor: pointer;

}

.vl_container img{
  transition: all 500ms ease-in-out;
}

.vl_container img:hover{
  box-shadow: 0 14px 20px rgba(0,0,0,0.3), 0 8px 20px rgba(0,0,0,0.3);
  transform: scale(1.02);
}



.vl_container_img{
  height:358px;
  transition: all 360ms ease-in-out;
}


.vl_container_img:hover{
  box-shadow: 0 14px 20px rgba(0,0,0,0.3), 0 8px 20px rgba(0,0,0,0.3);
  transform: scale(1.02);
}


.vl_container img{
  width:240px;
  height:358px;
  transition: all 500ms ease-in-out;
}



.vl_text{
  font-family: barlow;
  margin-top:4px;
  margin-bottom:4px;
  text-align: center;
  transition: all 180ms ease-in-out;
}

.vl_text a{
  font-size:20px;
}

.vl_info{
  font-size:9px;
}

.vl_container a{
  color:#ffffff;
}

.vl_title{
  font-family: barlow;
  font-size:26px;
  color: #ffffff;
}

.vl_details{

}

.vl_more_button{
  display:none;
  background-color:#333333;
  text-align: center;
  margin-left:5%;
}

.vl_more_button{
  color:#dc2323;
  border:none;
  width:91%;
  height:50px;
}

.vl_button{


}

/*.vl_next_button{
  position:absolute;
  right:0px;
  height: 216px;
  width: 68px;
  margin-top: 4px;
  border: none;
  font-size: 40px;
  color:#ffffff;
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.5);
}*/

.vl_next_button:hover{
  color:#dc2323;
  background-color:rgba(0, 0, 0, 0.8);
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.vl_next_button>i{
  opacity: 0.7;
}


/*.vl_back_button{
  position:absolute;
  left:0px;
  height: 216px;
  width: 68px;
  margin-top: 4px;
  border: none;
  font-size: 40px;
  color:#ffffff;
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.5);
  display:none;
}*/

.vl_back_button:hover{
  color:#dc2323;
  background-color:rgba(0, 0, 0, 0.8);
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;

}

.vl_back_button>i{
  opacity: 0.7;
}

.videoarea{
  	width: 960px;
    height: 540px;
    background-color: #000;
  	margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:25%;
  	z-index:-999 !important;
}

.video01{
  width:960px;
  height:540px;
	text-align:center;
	margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}

.video>video{

	width: 100%;
  height: 800px;
	background-color:#222222;

}

.f_container{
  height:250px;
  width:100%;

}




.videoPreview_Container{
    width:100%;
    height:600px;
    overflow: hidden;
}

.vP_container_inside{
  display: flex;
  flex-direction: row;
  width:100%;
  height:80%;
  overflow: hidden;
}


.videoimg{
  width:100%;
  overflow: hidden;
  cursor: pointer;
}

.videoimg img{
  height:100%;
  opacity:0.4;
}

.videoimg_playbtn{
  position: absolute;
  color: #fff;
  text-align: center;
  margin-top: 180px;
  margin-left: 300px;
  opacity: 0.5;
  z-index:900;
  transition: all 360ms ease-in-out;
}

.videoimg_playbtn:hover{
  opacity:1;

}


.video_title{
  width:100%;

}

.content_video_list01{
  /*Layout Ref VEVO website*/
  display:flex;
  flex-direction:row;
  flew-wrap:nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-box-align: start;
  align-items: flex-start;
  width:100%;
  transition: all 180ms ease-in-out;
  margin-left: 10px;

}

.vl_container2{
  float:left;
  width:384px;
  margin-top:4px;
  margin-left:0%;
}

.v1container2 >a>img{

height:300px;
width:250px;

}

.time_point1{

width:100%;
height:100%;
margin-bottom:50px;

}

.time_point1>img{

width:72%;
height:10%;
margin-left: 250px;

}

.time_line{

width: 100%;
height: 20%;
color: #ffffff;

}

.time_line>ul{
  list-style: none;
  font-family: barlow;
  font-size: 1.5em;
  display: flex;

}

.time_line>ul>li{
  list-style: none;

}

.time_line>ul>li>a{
  margin-left: 83%;

}

.ticket_but1{
  height: 240px;
  width:100%;
  text-align: center;
}

.ticket_but1_container{
  position: fixed;
  bottom: 32px;
  right: 140px;
  opacity:0.3;
  transition: all 240ms ease-in-out;
}

.ticket_but1 img{
  width:240px;
}


/*Timeline*/

.timeline{
  width:100%;
  text-align: center;
  margin-top:5%;
}

.timeline_container{
  text-align: center;
  width:100%;
}

.draw_line{
  margin-left: 5%;
  width: calc(100% - 160px);
  height: 8px;
  border-radius: 50px;
  background:linear-gradient( to left, rgb(255,66,62) 0%, rgb(255,193,59) 100%);

}

.line_item_container{
  display: flex;
  flex-direction: row;
  margin-top: -19px;
  width: calc(100% - 160px);
}

.line_item_mobile{
  display:none;
}

.line_item{
  width: 30px;
  height: 30px;
  border-radius: 500px;
  margin-left: 16.6%;
  border-spacing: 3px;
}

.line_item_border{
  width: 36px;
  height: 36px;
  border-radius: 50px;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
}

.timeline_video_container{
  margin-left: 6.7%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 160px);
}

.timeline_video_single{
  cursor: pointer;
  width: calc(100%/5);
}


.timeline_video_single img{
  width:75%;
  transition: all 500ms ease-in-out;
}

.timeline_video_single img:hover{
  box-shadow: 0 14px 20px rgba(0,0,0,0.3), 0 8px 20px rgba(0,0,0,0.3);
  transform: scale(1.02);
}

.tvs_text{
  margin-left: -25% !important;
}

.timeline_inner_text{
  margin-top: -40px;
  color: #fff;
  font-size: 20px;
  margin-left: -10px;
}


.timeline_inner_text a{
  font-family:barlowbold;
}


@media screen and (max-width: 1440px){
  .timeline_video_container{
    margin-left: 8.2%;
  }

  .vl_container{
    margin-right: 8%;
  }
}

@media screen and (max-width: 600px){

  .content{
    margin-top:65%;
  }

  .ct{
    letter-spacing: 2px;
    font-size: 20px;
  }

  .title_indicator_img {
    margin-top: 4px;
    margin-left: 12px;
  }

  .title_indicator_img img{
    width: 240px;
  }

  .vl_container{
    width: 172px;
    height: 280px;
    margin-top: 36px;
  }

  .vl_container_img{
    height: 272px;
  }

  .vl_container img{
    width: 172px;
    height: 272px;
  }
  
  .vl_text a{
    font-size: 16px;
  }

  .videoPreview_Container {
    width: 100%;
    height: 320px;
  }

  .vP_container_inside{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .videoimg_playbtn{
    margin-top: 70px;
    margin-left: 150px;
  }

  .videoimg {
    height: 220px;
    overflow: visible;
  }

  .videoimg img {
    opacity: 0.6;
  }

  .videoimg_playbtn{
    display:none;
  }

  .timeline{
    margin-top: 15%;
  }

  .timeline_container{
    display:none;
  }

  .timeline_video_container{
    margin-left: 0%;
    display: block;
    width: 100%;
  }

  .timeline_video_single {
    width: 60%;
    margin-left: 160px;
    margin-bottom: 40px;
  }

  .line_item{
    width: auto;
    height: auto;
    border-radius: 0px;
    margin-left: 40px;
    border-spacing: 2px;
  }

  .line_item_mobile{
    display:block;
    width: auto;
    height: auto;
    border-radius: 0px;
    margin-left: 40px;
    border-spacing: 2px;
  }
  

  .timeline_inner_text {
    margin-top: -40px;
    margin-left: -180px;
  }

  .ticket_but1{
    height:70px;
  }

  .line01{
    margin-top:40px;
  }

  .f_container {
    height: 100px;
  }

  .content_video_list{
    /*Layout Ref VEVO website*/
    display:block;
    flex-direction:row;
    flex-wrap:nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-box-align: start;
    align-items: flex-start;
    width:100%;
    cursor: pointer;
    transition: all 180ms ease-in-out;

  }

  .banner{
    display:none;

  }


  .vl_title{
    font-size:18px;
  }

  .vl_details{
    display:none;
  }

  .vl_info{
    display:none;
  }

  .vl_more_button{
    display:block;
  }

  .vl_button{
    display:none !important;
  }

  

}
