<!DOCTYPE HTML>
<!--
Popcorn Project
Created by Jeff Wu, Liam White
video page
University of Portsmouth
2018.01.11
-->

<html>

  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Popcorn | Book Film Tickets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./asset/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./asset/css/common.css" >
    <link rel="stylesheet" type="text/css" href="./asset/css/index.css" >
    <link rel="stylesheet" type="text/css" href="./asset/css/video.css" >
    <link rel="stylesheet" type="text/css" href="./asset/css/slider.css" >
    <link rel="icon" href="./asset/img/favicon1.png" type="image/gif" sizes="16x16">
    <script src="./js/jq321.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/vue-resource.js"></script>
    <script src="./js/video.js" defer></script>
    <script src="./js/video_overlay.js"></script>
    <script src="./js/signin.js" defer></script>
    <script src="./js/mobile.js" defer></script>


	<!--link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"-->

  <script>



  </script>

  </head>
  <h1 class='noLS'>Webpage currently unable to support landscape view.</h1>
  <body>
    <div id="main">
    <div class="video_overlay" id="video_overlay" v-on:click="openVideo()"></div>

    <div class='vid_container' id="video_overlay_player">
      <div class='insideoverlay' v-on:click="openVideo()"><img src='./asset/img/overlay_exit.png' alt='logo'></div>
      <iframe width="1080" height="720" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class='navBar'>

      <div class='navBar_logo' id='logoBg'>
        <a href="./index.html"><img src = './asset/img/headlogo01.png' alt='logo' id='logo'></a>
      </div>

      <script src='./js/logohome.js'></script>



      <div class='navBar_mobile'>
        <i class="fa fa-user-circle" aria-hidden="true" onclick='openDialog()' id='navMBTN'></i>

        <!--i class="fa fa-user-circle" aria-hidden="true" onclick='signOut()' id='navMUN'></i-->
      </div>

    </div>

	<!--poster here-->

  <div class='movie_container' v-for="item in filmContent1">
    <div class='movie_2'>
      <img v-bind:src='item.previewImg' alt="">
    </div>
  </div>

   <div class='main_filminfo' v-for="item in filmContent1">

      <div class='mi_main'>

        <img v-bind:src='item.posterImg' alt='image'>

      </div>

      <div class='movie_infocont'>

        <div class='movie_cred'>
          <ul>
              <li><a><img src='./asset/img/certificate.png' alt='image'></a></li>
              <li></li>
              <li><a style="font-family: barlowbold">RELEASE DATE</a></li>
              <li><a>{{item.rDate}}</a></li>
              <li></li>
              <li><a style="font-family: barlowbold">RUNNING TIME</a></li>
              <li><a>{{item.runningTime}}</a></li>
              <li></li>
              <li><a style="font-family: barlowbold">DIRECTER</a></li>
              <li><a>{{item.director}}</a></li>
              <li></li>
              <li><a style="font-family: barlowbold">CAST</a></li>
              <li v-for="i in castList"><a>{{i}}</a><br></li>
            </ul>
         </div>




        <div class='movie_info'>

            <ul>
              <li><div class='imgbutton' alt='image' onclick="openVideo()"></div></li>
              <li><a style="color:#ffffff;font-size:3.5em;font-family:barlow;">{{item.name}}</a></li>
              <li><a style="color:#ffffff;font-size:1em;font-family:barlow;">{{item.cate}} | {{item.runningTime}}</a></li>
              <li><a><img src='./asset/img/sep.png' alt='image'></a></li>
            </ul>
            <div class='paragraph_f'>
              <p style="color:#ffffff;font-size:1em;font-family:barlow;">{{item.brief}}</p>
            </div>

          </div>
        </div>
      </div>

    <div class='date_select'>
      <div class='date_menu'>
        <select v-model="tt_st" @change="tm_switch">
                <option v-for="t in date_list" v-bind:value="t">
                    {{ t }}
                </option>
        </select>
     </div>
    </div>

    <div class='outer_time'>
      <div class='time_table'>
        <div class='time'>

          <ul v-for="tt in movieTime" v-if="tt.date == now_st">
            <div v-on:click="toBilling(tt.id)">
              <li><a style="font-size: 1.5em;">{{tt.time.substring(0,5)}}</a><a style="font-size: 1.5em;"> PM</a></li>
              <li><a style="color:#A6792C;font-size:1.1em;">{{tt.type.substring(0,2)}}</a> <a style="opacity:0.6;font-size:1.1em;">- {{tt.type.substring(3,5)}}</a></li>
            </div>
          </ul>

        </div>

      </div>
    </div>


     <div class='videoPreview_Container'>

       <div class='content_title'>
         <a class='ct ct_1'>RELATED</a>
         <div class="title_indicator_img"><img src='./asset/img/indicator.png' alt='image'></div>
       </div>

       <div class="vP_container_inside">
         <div class="videoimg" v-for="(item, index) in videoContent1" v-if="index < 3" v-on:click="openVideo(item.id)">
           <img v-bind:src='item.pImgUrl' alt='image'>
         </div>
       </div>

     </div>


    <div class='content_title'>
      <a class='ct ct_1'>ALSO SHOWING</a>
      <img src='./asset/img/indicator.png' alt='image'>
    </div>

    <div class='content_video_list' id='cvl_2'>

      <div class='vl_container vl1' v-for="item in otherFilm.slice(0, 4)">
        <div v-on:click="navToDetail(item.id)">
          <img v-bind:src='item.posterImg' alt='image'><br>
          <div class='vl_text'>
            <a href='./video.html'class='vl_title'>{{item.name}}</a><br>
          </div>
        </div>
      </div>

  </div>


    <div class='dialog' id='dialog'>
        <div class="dialog_headline">
          <div class="dialog_headline_inner">
              <a>SEE WHAT'S NEXT</a><br>
              <a>SIGN IN FOR OUR VIP</a>
          </div>
        </div>

        <div class='dialog_close' id='dialogClose'><i class="fa fa-times-circle-o" aria-hidden="true" onclick='closeDialog()'></i></div>

        <div class='dialog_input' id='dialog_sign_input'>
          <div class="dialog_username_input_container"><input type='text' id='username' value='' placeholder="Email" onchange="ifExist(this.value)"><!--div class="dialog_newsign"><a>NEW</a></div--></div>

          <input type='password' id='password' value='' placeholder="Password">
        </div>

        <div class='dialog_button_area'>
          <div class="popcorn_btn_1 dialog_btn"><a onclick="login()">Sign in or Create account</a></div>
        </div>

        <div class='dialog_iForgot'>
            <a>By continue, you agree with our </a><a href = '#' class='dialog_term_policy'>term and policy</a><a>.</a>
        </div>

        <div class="dialog_bg">
          <div class="dialog_bg_inner">
            <img src="./asset/img/login_bg.jpg">
          </div>
        </div>

    </div>

    <div class='dialogOverlay' id='dialogOverlay' onclick='closeDialog()'>
      <a> </a>
    </div>

    <div class='alertOverlay' id='alertOverlay'>
      <a id='alertContent'>Something wrong here.</a>
    </div>

    <div class="line01">

      <img src = "./asset/img/footer_line.png">

    </div>

    <footer class='footer'>
      <div class='f_container'>

        <div class='footer_list'>

          <div class='footer_socialNet'>
            <a href='https://twitter.com/?lang=en'target="_blank"><img src='./asset/img/social_icon02.png' alt='logo'></a>
            <a href='https://www.youtube.com/'target="_blank"><img src='./asset/img/social_icon03.png' alt='logo'></a>
            <a href='https://en-gb.facebook.com/'target="_blank"><img src='./asset/img/social_icon04.png' alt='logo'></a>
            <a href='https://plus.google.com/discover'target="_blank"><img src='./asset/img/social_icon05.png' alt='logo'></a>
            <a href='https://www.instagram.com/?hl=en'target="_blank"><img src='./asset/img/social_icon06.png' alt='logo'></a>
          </div>

        </div>

        <div class='contact'>
          <div class="contact_container">
              <div class="contact_single"><a href='#'>POPCORN 2017 All rights reserved</a></div>
              <div class="contact_single" style="margin-top: -24px;"><a href='./index.html'><img src='./asset/img/headlogo.png' alt='logo'></a></div>
              <div class="contact_single"><a href='#'>Customer service 020 8789 1436</a></div>
          </div>
        </div>

      </div>
    </footer>

      <script src="./js/signin.js"></script>
      <script src='./js/logohome.js'></script>

</div>
  </body>

</html>
